.q1 {border-style: solid;
background-color: darkkhaki;
height: 70px;}
.q2 {border-style: solid;
background-color: mediumpurple;
height: 120px;}
.q3 {border-style: solid;
background-color: darkgoldenrod;
height: 230px;}
.q4 {border-style: solid;
background-color: mediumpurple;
height: 75px;}
.q5 {border-style: solid;
background-color: darkkhaki;
height: 110px;}